@model InAndOut.Models.Fee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>Fee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Deletepost">
                <input asp-for="Id" class="form-control" hidden/>
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger" >Back to List</a>
</div>
@section scripts{
    @{<partial name="_ValidationScriptsPartial" />}
}

